## .NET
bin/
obj/
*.user
*.suo
.vs/

## Rider / VS Code
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## OS files
.DS_Store
Thumbs.db